---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color: #5DADE2         // Main accent color (light blue)
$accent: #5DADE2               // Same as accent-color, for consistency
$accent-light: lighten($accent, 20%)  // Softer version of the accent
$selectionColor: lighten($accent, 30%)  // Highlight color when selecting text


$textColor: #666
$headlineColor: #333
$bgcolor: #e5eaee
$documentBackgroundColor: #fff

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'

nav
  a
    color: $textColor
    text-decoration: none

    &.active
      color: $accent-color
      font-weight: bold
      border-bottom: 2px solid $accent-color

